body {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
    background-color: #e3f2fd;
}

.login{
    display: flex;
    width: 650px;
    margin: 100px auto;
    border-radius: 12px;
    overflow: hidden; 
    background-color: white;
}

.izquierdo {
    width: 50%;
    padding: 40px;
    background-color: purple;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.izquierdo h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.izquierdo p {
    font-size: 1em;
    opacity: 0.9;
}

.derecho {
    width: 50%;
    padding: 40px;
}

.derecho form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.derecho input {
    width: 95%;
    padding: 12px;
    border: 1px solid #c8e6c9;
    border-radius: 6px;
    font-size: 1em;
}

.derecho input:focus {
    border-color: lightgreen;
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.2);
}

.derecho button {
    width: 100%;
    padding: 12px;
    background-color: #8bc34a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

.derecho button:hover {
    background-color: #689f38;
}
